{
box-sizing
:
 
border-box
;

    
}
body {
	margin: 0;
	font-family: Poppins-Regular, sans-serif;
}

input[type=text], input[type=password] {
	height: 40px;
    width: 60%;
    border: 1px solid grey;
    border-radius: 30px;
    padding-left: 10px;
    font-size: 15px;
	background: #f1f1f1;
}

 h1{
        padding-top: 50px;
        font-family: sans-serif;
    }

	








 /*  height: 40px;
        width: 60%;
        border: 1px solid grey;
        border-radius: 30px;
        padding-left: 10px;
        font-size: 15px; */




.login:hover {
	opacity: 1;
}

.nav { 10px; 450px;
	height: 40px;
	width: 400px;
	padding: 10px;
	color: white;
	background-color: black;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
/* 
.maindiv{
	margin-left:35%;
	margin-top:2%;
	
} */
.submit {
	height: 40px;
	width: 100px;
	color: #f1f1f1;
	border: 1px solid grey;
	border-radius: 30px;
	padding-left: 10px;
	background-color: #292e7d;
}

.mainDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #f3751f, #292e7d);
}

.main {
	width: 30%;
	height: 60%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	padding: 10px;
	background-color: white;
}